@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Space Grotesk", system-ui, Arial;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.high-contrast {
  --background: #1C1C1C;
  --foreground: #FFFFFF;
}

.high-contrast body {
  background-color: #1C1C1C;
  color: #FFFFFF;
}

.high-contrast .bg-white {
    background-color: #1C1C1C !important;
}

.high-contrast .text-black {
    color: #FFFFFF !important;
}

.high-contrast .bg-\[\#e2e3e6\] {
    background-color: #333333 !important;
}

.high-contrast .text-\[\#100b4f\] {
    color: #FAC16D !important;
}

.high-contrast .bg-\[\#100b4f\] {
    background-color: #333333 !important;
}

.high-contrast .text-\[\#fac16d\] {
    color: #FFFFFF !important;
}

.high-contrast .bg-\[\#fac16d\] {
    background-color: #000000 !important;
    border: 1px solid #FAC16D;
}

.high-contrast button:focus, .high-contrast a:focus {
    outline-color: #FAC16D !important;
}

.high-contrast .hover\:bg-\[\#100b4f\]:hover {
    background-color: #000000 !important;
    border: 1px solid #FAC16D;
}

.high-contrast .hover\:text-white:hover {
    color: #FAC16D !important;
}

.high-contrast .focus\:bg-\[\#100b4f\]:focus {
    background-color: #000000 !important;
    border: 1px solid #FAC16D;
}

.high-contrast .focus\:text-white:focus {
    color: #FAC16D !important;
}

.high-contrast .bg-\[\#fac16d\].rounded strong {
    background-color: #FAC16D !important;
    color: #000000 !important;
}
